
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    animation: slide-in 1s forwards; /* Animation to slide in */
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    animation: slide-left 1s forwards; /* Animation to slide in */
}

.login-box .user-box {
    position: relative;
    animation: slide-right 1s forwards; /* Animation to slide in */
}

.login-box .user-box input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus,
.login-box .user-box input:valid {
    top: -20px;
    color: #f68e44;
    font-size: 1rem;
}

.login-box form a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #b79726;
    font-size: 1rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    animation: slide-right 1s forwards; /* Animation to slide in */
}

.login-box a:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d06, 0 0 50px #f4e403, 0 0 100px #d5cf32;
}

.login-box a span {
    position: absolute;
    display: block;
}



@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}


/* Animation to slide in the login box */
@keyframes slide-in {
    0% {
        transform: translate(-50%, -100%); /* Start offscreen */
    }
    100% {
        transform: translate(-50%, -50%); /* Slide in to the center */
    }
}

/* Animation to slide in the login button and labels */
@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100%); /* Start offscreen */
    }
    100% {
        opacity: 1;
        transform: translateX(0%); /* Slide in from the left */
    }
}

/* Animation to slide in the login title */
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Start offscreen */
    }
    100% {
        opacity: 1;
        transform: translateX(0%); /* Slide in from the right */
    }
}